include README.rst
include requirements.txt

include jupyterhub_oauth_swarm_spawner/oauth_spawner.py
include jupyterhub_oauth_swarm_spawner/__version__.py

global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude test*